*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
}
.row_s {
  display: flex;
  align-items: center;
  /* background-color: rgb(150, 23, 48); */
  height: 400px;
}

.big {
  position: relative;
  font-family: "Cabin", sans-serif;

  left: 30%;
  font-size: 8rem;
  font-weight: 700;
  line-height: 120px;
  text-indent: -7rem;
  word-spacing: -10px;
  letter-spacing: 8px;
}

span {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
}

.right {
  font-size: 1.5rem;
}

img {
  width: 45vh;
  margin-right: 40px;
  pointer-events: none;
  user-select: none;
}

.center {
  background-color: darkolivegreen;
  text-align: left;
  user-select: none;
}

.image-container {
  overflow: auto;
  /* background-color: darkmagenta; */
  height: 600px;
  padding-left: 20px;
}

.image-container::-webkit-scrollbar {
  width: 0;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding: 60px;
}
.menuButton1 {
  font-weight: 600;
}
.menuButton2 {
  font-weight: 500;
  font-size: 20px;
}

#flip {
  padding-top: 10px;
  height: 30px;
  /* background-color: darkorange; */
  overflow: hidden;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

#flip > div > div {
  margin: 0;
  color: #545454;
  padding: 0px 0px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
a:link {
  text-decoration: none;
}
a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
